Repository eclipse-ditto/ditto, pull requests merged in 2023-08, with the labels that each got.

#1711 Use Ditto-UI from docker Hub in default docker-compose.yml
  deployment/docker/docker-compose.yml
  deployment/docker/nginx.conf
  policies/enforcement/src/main/java/org/eclipse/ditto/policies/enforcement/AbstractEnforcerActor.java
Labels: UI

#1722 Remove accidentally duplicated section
  documentation/src/main/resources/pages/ditto/basic-acknowledgements.md
Labels: documentation

#1718 Correct documentation of RawMessage payload mapper headers
  documentation/src/main/resources/pages/ditto/connectivity-mapping.md
Labels: documentation

#1724 fix using "/cloudevents" endpoint for other entities than things
  gateway/service/src/main/java/org/eclipse/ditto/gateway/service/endpoints/routes/cloudevents/CloudEventsRoute.java
Labels: bug
