Repository eclipse-ditto/ditto, pull requests merged in 2024-08, with the labels that each got.

#1999 Create schemas ref for SearchFilterProperty and NamespaceProperty #1998
  documentation/src/main/resources/openapi/ditto-api-2.yml
  documentation/src/main/resources/openapi/sources/api-2-index.yml
Labels: documentation

#1991 update JS dependencies for website + Ditto UI
  documentation/src/main/resources/_includes/head.html
  documentation/src/main/resources/js/customscripts.js
  ui/index.html
  ui/modules/operations/servicesLogging.html
  ui/modules/utils.ts
  ui/modules/utils/crudToolbar.html
  ui/package-lock.json
  ui/package.json
Labels: UI

#2001 delete duplicate nginx body style
  deployment/docker/index.html
  deployment/helm/ditto/Chart.yaml
  deployment/helm/ditto/nginx-config/index.html
  deployment/kubernetes/deploymentFiles/nginx/index.html
  deployment/openshift/nginx/index.html
Labels: Helm chart
