Repository eclipse-ditto/ditto, pull requests merged in 2024-11, with the labels that each got.

#2051 enhance Helm chart to configure Ditto services via ConfigMap
  deployment/helm/ditto/Chart.yaml
  deployment/helm/ditto/service-config/connectivity-extension.conf.tpl
  deployment/helm/ditto/service-config/gateway-extension.conf.tpl
  deployment/helm/ditto/service-config/policies-extension.conf.tpl
  deployment/helm/ditto/service-config/search-extension.conf.tpl
  deployment/helm/ditto/service-config/things-extension.conf.tpl
  deployment/helm/ditto/templates/connectivity-configmap.yaml
  deployment/helm/ditto/templates/connectivity-deployment.yaml
  deployment/helm/ditto/templates/gateway-configmap.yaml
  deployment/helm/ditto/templates/gateway-deployment.yaml
  deployment/helm/ditto/templates/policies-configmap.yaml
  deployment/helm/ditto/templates/policies-deployment.yaml
  deployment/helm/ditto/templates/things-configmap.yaml
  deployment/helm/ditto/templates/things-deployment.yaml
  deployment/helm/ditto/templates/thingssearch-configmap.yaml
  deployment/helm/ditto/templates/thingssearch-deployment.yaml
  deployment/helm/ditto/values.yaml
Labels: Helm chart

#2063 Enhance Helm chart by startupProbe
  deployment/helm/ditto/Chart.yaml
  deployment/helm/ditto/scripts/patch-pods-deletion-cost.sh
  deployment/helm/ditto/templates/connectivity-deployment.yaml
  deployment/helm/ditto/templates/dittoui-deployment.yaml
  deployment/helm/ditto/templates/gateway-deployment.yaml
  deployment/helm/ditto/templates/nginx-deployment.yaml
  deployment/helm/ditto/templates/policies-deployment.yaml
  deployment/helm/ditto/templates/swaggerui-deployment.yaml
  deployment/helm/ditto/templates/things-deployment.yaml
  deployment/helm/ditto/templates/thingssearch-deployment.yaml
  deployment/helm/ditto/values.yaml
Labels: Helm chart

#2068 #2067 Support for boolean value for filter in aggregation metric
  thingsearch/service/src/main/java/org/eclipse/ditto/thingsearch/service/persistence/read/criteria/visitors/CreateBsonAggregationPredicateVisitor.java
  thingsearch/service/src/test/java/org/eclipse/ditto/thingsearch/service/persistence/read/criteria/visitors/CreateBsonAggregationPredicateVisitorTest.java
Labels: bug

#2069 Fix resolving WoT submodels from extended model
  bom/pom.xml
  wot/api/src/main/java/org/eclipse/ditto/wot/api/generator/DefaultWotThingModelExtensionResolver.java
Labels: bug, WoT
