Repository eclipse-ditto/ditto, pull requests merged in 2025-09, with the labels that each got.

#2210 fixed CORS behavior for missing "Origin" header
  deployment/docker/nginx-cors.conf
  deployment/helm/ditto/Chart.yaml
  deployment/helm/ditto/nginx-config/nginx-cors.conf
  deployment/helm/ditto/values.yaml
  deployment/kubernetes/deploymentFiles/nginx/nginx-cors.conf
Labels: bug, Helm chart

#2208 #2206: change to fetch MongoDB Helm dependency via docker.io OCI bitnamicharts
  .github/kubeval.sh
  deployment/helm/ditto/Chart.yaml
Labels: Helm chart

#2215 #1910: fix "modify policy" template for Ditto UI
  ui/modules/operations/piggybackTemplates.json
Labels: bug, UI

#2220 fix array sort values in GetSortBsonVisitor
  thingsearch/service/src/main/java/org/eclipse/ditto/thingsearch/service/persistence/read/expression/visitors/GetSortBsonVisitor.java
Labels: bug

#2226 fix several issues around "put-metadata" in combination with MergeThing commands
  things/service/src/main/java/org/eclipse/ditto/things/service/persistence/actors/strategies/commands/MetadataFieldsWildcardResolver.java
  things/service/src/main/java/org/eclipse/ditto/things/service/persistence/actors/strategies/commands/MetadataFromCommand.java
  things/service/src/main/java/org/eclipse/ditto/things/service/persistence/actors/strategies/commands/MetadataWildcardValidator.java
  things/service/src/test/java/org/eclipse/ditto/things/service/persistence/actors/strategies/commands/MetadataFieldsWildcardResolverTest.java
  things/service/src/test/java/org/eclipse/ditto/things/service/persistence/actors/strategies/commands/MetadataWildcardValidatorTest.java
  things/service/src/test/java/org/eclipse/ditto/things/service/persistence/actors/strategies/commands/ModifyFeatureDesiredPropertyStrategyTest.java
  things/service/src/test/java/org/eclipse/ditto/things/service/persistence/actors/strategies/commands/ModifyFeaturePropertyStrategyTest.java
Labels: bug

#2230 enhance Helm config with "maxUnavailable" for pdb and G1 GC option
  .github/ct.yml
  deployment/helm/ditto/Chart.yaml
  deployment/helm/ditto/templates/connectivity-deployment.yaml
  deployment/helm/ditto/templates/connectivity-pdb.yaml
  deployment/helm/ditto/templates/dittoui-pdb.yaml
  deployment/helm/ditto/templates/gateway-deployment.yaml
  deployment/helm/ditto/templates/gateway-pdb.yaml
  deployment/helm/ditto/templates/policies-deployment.yaml
  deployment/helm/ditto/templates/policies-pdb.yaml
  deployment/helm/ditto/templates/swaggerui-pdb.yaml
  deployment/helm/ditto/templates/things-deployment.yaml
  deployment/helm/ditto/templates/things-pdb.yaml
  deployment/helm/ditto/templates/thingssearch-deployment.yaml
  deployment/helm/ditto/templates/thingssearch-pdb.yaml
  deployment/helm/ditto/values.yaml
Labels: Helm chart
